glfw==2.5.0
GPy==1.10.0
# GPyOpt @ git+https://github.com/yunshengtian/GPyOpt@5fc1188ffdefea9a3bc7964a9414d4922603e904
gym==0.19.0
h5py==3.6.0
imageio==2.14.1
matplotlib==3.5.1
# neat-python @ git+https://github.com/yunshengtian/neat-python@2762ab630838520ca6c03a866e8a158f592b0370
numpy==1.21.5
opencv-python==4.5.5.62
Pillow==9.0.0
pybind11==2.9.0
pygifsicle==1.0.5
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
ttkbootstrap==1.5.1
typing==3.7.4.3
path.py==12.5.0
Pillow==9.0.0
pybullet==3.2.7
pyDOE==0.3.8
pygame==2.6.1
pygifsicle==1.0.5
PyOpenGL==3.1.5
pyprind==2.11.3
PySpice==1.5
python_dateutil==2.8.2
PyYAML==6.0.1
# roboschool==1.0.49
scikit_image==0.19.3
scikit_learn==1.0.2
scipy==1.7.3
evogym==2.0.0
#seaborn==0.13.2
setuptools==65.6.3
six==1.16.0
sobol_seq==0.2.0
stable_baselines3==1.4.0
#tensorflow==2.19.0
#Theano==0.9.0.dev1
thop==0.1.1.post2209072238
# torch==1.13.1+cu117
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torch_geometric==2.3.1
tqdm==4.66.1
ipython==7.34.0